langchain
langchain-core
langchain-openai
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
requests
dotenv
beautifulsoup4
openai
pandas
pgvector
psycopg2-binary
pydantic
PyPDF2
numpy
psycopg[binary]
databricks-sdk
databricks-sql-connector

fastapi
uvicorn[standard]
asyncpg
aiohttp

black
ruff 
pytest
bandit
aiohttp

azure-identity 
azure-keyvault-secrets
pydantic-settings
azure-storage-blob
azure-ai-vision-imageanalysis

pydantic
pydantic_settings

sqlalchemy
psycopg2-binary

openai
xmltodict
defusedxml